.modal-content {}

.modal-header,
.modal-footer {}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.flex-parent fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin: 0;
}

.acheckbox input[type="checkbox"] {
    transform: scale(2);
    margin: 15px;
    padding-top: 30px;
}


.editable-pre {

    font-family: monospace;
    width: 100%;
    height: auto;
    min-height: 100px;
    max-height: calc(100vh - 212px);
    overflow-y: auto;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;

}