.modal-content {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 50%;  */
    /* 
    max-height: calc(100vh - 212px);
    overflow-y: auto; */
    /* max-height: 50%; */
}

.modal-header,
.modal-footer {
    /* flex-shrink: 0; */
    /* Prevents the header and footer from shrinking */
}

.modal-body {
    /* Adjust the value based on your header and footer size */
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.flex-parent fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    /* Override default fieldset border */
    padding: 0;
    /* Override default fieldset padding */
    margin: 0;
    /* You might want to reset the margin as well */
}

.flex-full {
    /* margin: 10px; Adjust spacing */
    flex-basis: 100%;
}

.flex-tenth {
    /* margin: 10px; Adjust spacing */
     align-items: center;
     justify-content: bottom;
     /* Centers the checkbox vertically */
    /* flex-basis: 10%; */
    display: flex;
}

.flex-fourtyfifth {
    flex-basis: 45%;
}

.flex-fifth {
    /* margin: 10px; Adjust spacing */
    flex-basis: 5%;
}

.flex-quarter {
    /* margin: 10px; Adjust spacing */
    flex-basis: 25%;
}

.flex-half {
    /* margin: 10px; Adjust spacing */
    flex-basis: 50%;
}

.flex-third {
    /* margin: 10px; Adjust spacing */
    flex-basis: 33%;
}

.editable-pre {

    font-family: monospace;
    width: 100%;
    height: auto;
    min-height: 100px;
    /* Adjust based on your needs */
    max-height: calc(100vh - 212px);
    overflow-y: auto;
    background-color: #f5f5f5;
    /* Light grey background, similar to <pre> */
    border: 1px solid #ccc;
    /* Light grey border */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    padding: 10px;
    /* Add some padding */
    white-space: pre-wrap;
    /* Maintain whitespace formatting */
    word-wrap: break-word;
    /* Ensure long words do not break the layout */

}